# Local Development Environment URLs
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
NEXT_PUBLIC_BACKEND_URL="http://localhost:5000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:5000"

# Production Live Server Environment URLs
NEXT_PUBLIC_LIVE_API_URL="https://api.sjemsbamunigam.in/api"
NEXT_PUBLIC_LIVE_BACKEND_URL="https://api.sjemsbamunigam.in"
NEXT_PUBLIC_LIVE_SOCKET_URL="https://api.sjemsbamunigam.in"
